@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

:root {
  --light-color: #f4eeff;
  --dark-color: #343434;
  --btn-color: #7950f2;
  --btn-unactive: #bebebe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--dark-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 30rem;
  height: 20rem;
  border: 1px solid var(--dark-color);
  border-radius: 15px;
  background-color: var(--light-color);
  padding: 7rem;
}

.rows {
  display: flex;
  align-items: center;
  gap: 3px;
  width: 100%;
}

/* -- buttons  */

button {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  background-color: var(--btn-color);
  cursor: pointer;
}

input {
  height: 1.5rem;
  width: 100%;
  color: var(--dark-color);
}
