@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap');

:root {
  --color-green: #659287;
  --color-orange: #ffe2e2;
  --color-yellow: #fffdec;
  --color-blue1: #d1e9f6;
  --color-blue2: #e5f6ff;
  --color-delete: #c94545;
  --color-gray1: #343a40;
  --color-gray2: #313131;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Monoton', Quicksand, 'montseratt', sans-serif;
  color: var(--color-gray1);
  line-height: 1;
  font-size: 1.5rem;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );

  padding: 25px;
}

.app {
  background-image: url('./img/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease;
}

.app.warm {
  background-image: url('./img/warm-bg.jpg');
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: var(--color-blue1);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: var(--color-gray2);
  font-size: 20px;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: var(--color-blue2);
}

.location-box .location {
  color: var(--color-yellow);
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: var(--color-yellow);
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: var(--color-gray1);
  border-radius: 16px;
  padding: 15px 25px;
  color: var(--color-yellow);
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: var(--color-yellow);
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date span {
  margin-right: 1rem;
}

.date {
  margin-top: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
