:root {
  --light-color: #f5eddc;
  --dark-color: #383838;
  --back-color: #d63245;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.flashcards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.flashcards p {
  width: 400px;
  height: 200px;
  background-color: var(--dark-color);
  border: 3px solid var(--back-color);
  color: var(--gray1);
  padding: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.selected p {
  border: 3px solid var(--light-color);
  background-color: var(--back-color);
  color: var(--light-color);
}
