@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

:root {
  --light-color: #f4eeff;
  --dark-color: #343434;
  --btn-color: #7950f2;
  --btn-unactive: #bebebe;
  --color-till: #a3faf8;
  --color-cheek: #ffc0cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--dark-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--light-color);
}

/* smily emoji */
.emoji {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: var(--color-till);
  border-radius: 50%;
  box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.15);
}

.eye {
  position: absolute;
  top: 50px;
  width: 16px;
  height: 16px;
  background-color: #333;
  border-radius: 50%;
}

.eye.left {
  left: 25px;
}

.eye.right {
  right: 25px;
}

.mouth {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 70px;
  height: 35px;
  background-color: transparent;
  border: 4px solid var(--dark-color);
  border-top: none;
  border-radius: 0 0 50px 50px;
  transform: translateX(-50%);
}

.cheek {
  position: absolute;
  top: 70px;
  bottom: 35px;
  width: 40px;
  height: 20px;
  background-color: var(--color-cheek);
  border-radius: 50%/ 50%;
  opacity: 0.7;
}

.cheek.left {
  left: 10px;
}

.cheek.right {
  right: 10px;
}

/* happy emoji */
