@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

:root {
  --light-color: #f4eeff;
  --dark-color: #343434;
  --color-cheek: #f7cfd8;

  --color-happy: #81e7af;
  --color-good: #ffcdb2;
  --color-sad: #9ec6f3;
  --color-surprised: #dbffcb;
  --color-angry: #ff6363;
  --color-winking: #8f87f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--dark-color);
  margin: 1rem;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--light-color);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid var(--dark-color);
  border-radius: 15px;
  height: 95vh;
  width: 35rem;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  border-radius: 15px;
  width: 30rem;
  font-weight: 600;
}

.selectedemoji {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 2rem;
  margin: 0 auto;
}

.maindetail {
  display: flex;
  flex-direction: column;
}

.input-mode {
  width: 30rem;
  height: 10rem;
  border-radius: 15px;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--dark-color);

  font-family: 'IBM Plex Mono', sans-serif;
  border: 2px solid var(--dark-color);
  border-radius: 15px;
  resize: none;
}

.emoji-row {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
}

.emoji {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.emoji:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

/* Happy Mood */
.emoji.happy {
  background-color: var(--color-happy);
}

.emoji.good {
  background-color: var(--color-good);
}

.emoji.sad {
  background-color: var(--color-sad);
}

.emoji.surprised {
  background-color: var(--color-surprised);
}

.emoji.angry {
  background-color: var(--color-angry);
}

.emoji.supersad {
  background-color: var(--color-winking);
}

.eye {
  position: absolute;
  top: 15px;
  width: 5px;
  height: 5px;
  background-color: #333;
  border-radius: 50%;
}

.eye.left {
  left: 10px;
}

.eye.right {
  right: 10px;
}

.eye.supersad {
  width: 12px;
  height: 4px;
  border-radius: 0;
  top: 15px;
}

.eye.angry {
  width: 12px;
  height: 4px;
  border-radius: 0;
  top: 15px;
}

.mouth {
  position: absolute;
  top: 24px;
  left: 50%;
  width: 35px;
  height: 17px;
  background-color: transparent;
  border: 3px solid var(--dark-color);
  border-top: none;
  border-radius: 0 0 50px 50px;
  transform: translateX(-50%);
}

/* Happy Mood */
.mouth.happy {
  width: 30px;
  top: 25px;
  height: 20px;
  background-color: #e4ecf1;
  border: 3px solid var(--dark-color);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Sad Mood */
.mouth.sad {
  bottom: 15px;
  top: 30px;
  width: 35px;
  height: 3px;
  border-radius: 0;
}

/* Surprised Mood */
.mouth.surprised {
  top: 20px;
  width: 25px;
  height: 25px;
  background-color: var(--light-color);
  border-radius: 50%;
  border: 3px solid var(--dark-color);
}

/* Angry Mood */
.mouth.angry {
  transform: translateX(-50%) rotate(180deg);
}

/* supersad Mood */
.mouth.supersad {
  transform: translateX(-50%) rotate(180deg);
}

/*  not using  */
.cheek {
  position: absolute;
  top: 22px;
  bottom: 35px;
  width: 20px;
  height: 10px;
  background-color: var(--color-cheek);
  border-radius: 50% / 50%;
  opacity: 0.5;
}

.cheek.left {
  left: 5px;
}

.cheek.right {
  right: 5px;
}
