@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

:root {
  --light-color: #f4eeff;
  --dark-color: #343434;
  --color-cheek: #f7cfd8;

  --color-happy: #81e7af;
  --color-sad: #9ec6f3;
  --color-surprised: #dbffcb;
  --color-angry: #ff6363;
  --color-winking: #8f87f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--dark-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--light-color);
}

.emoji-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
}

.emoji {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: inset -4px -4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* Happy Mood */
.emoji.happy {
  background-color: var(--color-happy);
}

.emoji.sad {
  background-color: var(--color-sad);
}

.emoji.surprised {
  background-color: var(--color-surprised);
}

.emoji.angry {
  background-color: var(--color-angry);
}

.emoji.winking {
  background-color: var(--color-winking);
}

.eye {
  position: absolute;
  top: 25px; /* Adjusted for smaller emoji */
  width: 8px; /* Adjusted size */
  height: 8px;
  background-color: #333;
  border-radius: 50%;
}

.eye.left {
  left: 10px;
}

.eye.right {
  right: 10px;
}

.eye.winking {
  width: 12px;
  height: 4px;
  border-radius: 0;
  top: 25px;
}

.mouth {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 35px; /* Adjusted size */
  height: 17px; /* Adjusted size */
  background-color: transparent;
  border: 3px solid var(--dark-color);
  border-top: none;
  border-radius: 0 0 50px 50px;
  transform: translateX(-50%);
}

/* Happy Mood */
.mouth.happy {
  width: 40px;
  height: 20px;
  background-color: #e4ecf1;
  border: 3px solid var(--dark-color);
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* Sad Mood */
.mouth.sad {
  bottom: 15px;
  width: 35px;
  height: 1px;
  border-radius: 0;
}

/* Surprised Mood */
.mouth.surprised {
  width: 25px;
  height: 25px;
  background-color: var(--light-color);
  border-radius: 50%;
  border: 3px solid var(--dark-color);
}

/* Angry Mood */
.mouth.angry {
  transform: translateX(-50%) rotate(180deg);
}

.mouth.winking {
  transform: translateX(-50%) rotate(180deg);
}

.cheek {
  position: absolute;
  top: 35px;
  bottom: 35px;
  width: 20px;
  height: 10px;
  background-color: var(--color-cheek);
  border-radius: 50% / 50%;
  opacity: 0.5;
}

.cheek.left {
  left: 5px;
}

.cheek.right {
  right: 5px;
}
