@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

:root {
  --light-color: #f4eeff;
  --dark-color: #343434;
  --btn-color: #7950f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  background-color: var(--light-color);
  color: var(--dark-text);
}

h1 {
  margin-bottom: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  width: 30rem;
  height: 20rem;
  border: 1px solid var(--dark-color);
  border-radius: 15px;
}

.numbers {
  display: flex;
  gap: 7rem;
  padding-bottom: 2rem;
}

.number {
  background-color: var(--btn-color);
  color: var(--light-color);
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  cursor: pointer;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.btn {
  width: 7rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  background-color: var(--btn-color);
  cursor: pointer;
}
