@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

:root {
  --light-color: #f4eeff;
  --dark-color: #343434;
  --btn-color: #7950f2;
  --btn-unactive: #bebebe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--dark-text);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/img/1.jpg');
  background-size: 100% 100%; /* Stretch the image to fit */
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px); /* Apply the blur effect only to the background */
  z-index: -1; /* Keep it behind the content */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
  width: 30rem;
  height: 20rem;
  border: 1px solid var(--dark-color);
  border-radius: 15px;
  background-color: var(--light-color);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 10px 30px rgba(120, 134, 199, 0.25);
}

/* --- steps --- */

.numbers {
  display: flex;
  gap: 7rem;
  padding-bottom: 2rem;
  border-radius: 7px;
}

.number {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 7rem;
}

.number > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: var(--btn-unactive);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.number .activ {
  background-color: var(--btn-color);
  color: var(--light-color);
}

/* -- buttons  */

.btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn {
  width: 7rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  background-color: var(--btn-color);
  cursor: pointer;
}
